<!DOCTYPE html>
<html lang="en">
        <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bundles/foundation")
        @Scripts.Render("~/bundles/dependencies")
        @Scripts.Render("~/bundles/viewmodel")
        @if (ViewBag.Scripts != null)
        { @Scripts.Render(ViewBag.Scripts) }
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
